In [12]:
import pandas as pd;
df=pd.read_csv("OPTIDX_NIFTY_PE_01-Jan-2021_TO_28-Jan-2021.csv",index_col=['Strike Price','Date'])
df=df.drop(['Symbol','Open','High', 'Low', 'Close', 'LTP','No. of contracts','Turnover in Lacs', 'Premium Turnover in Lacs', 'Open Int',
       'Change in OI'],axis=1)
date=df.index.get_level_values(0).unique().tolist()
list(date)
strike=df.index.unique()
list(strike)
settle=df['Settle Price']
list(strike)
#data not working
k=pd.DataFrame(data=df['Settle Price'],columns=list(date),index=list(strike))
k
# for dt in date:
#     for strikep in df.index:
        
#          if dt in df.at[strikep,'Date']:
#              for setle in settle:
#                 k.at[strikep,dt]=df.at[strikep,'Settle Price']

strikep=df.index.get_level_values(0).unique().tolist()
date=df.index.get_level_values(1).unique().tolist()
k=pd.DataFrame(data=df['Settle Price'],columns=list(date),index=list(strikep))
for i in strikep:
    for j in date:
        if (i,j) in df.index:
            l=df.loc[[(i,j)],'Settle Price']
            k.at[i,j]=l[0]
k

,01-Jan-2021,04-Jan-2021,05-Jan-2021,06-Jan-2021,07-Jan-2021,08-Jan-2021,11-Jan-2021,12-Jan-2021,13-Jan-2021,14-Jan-2021,15-Jan-2021,18-Jan-2021,19-Jan-2021,20-Jan-2021,21-Jan-2021,22-Jan-2021,25-Jan-2021,27-Jan-2021,28-Jan-2021
13350,75.9,56.3,54.05,55.4,44.35,31.6,29.7,25.4,21.05,17.15,22.5,23.2,8.3,4.1,6.95,3.45,1.6,1.75,13817.5
13400,83.7,63,59.9,61.3,49.6,34.95,32.35,27.65,22.8,18.35,24.6,26,8.9,4.4,7.5,3.7,1.75,1.8,13817.5
13450,93.05,69.55,66.05,67.4,55.3,38.6,35.4,30.15,25.75,20.2,27.3,29,10.45,5.15,8.1,4.3,2.05,2.2,13817.5
13500,102.6,76.9,72.75,74.9,61.35,42.6,38.6,32.9,27.85,21.8,30.2,33.45,11.45,5.85,9.45,5.25,2.5,2.75,13817.5
13550,117.15,85.65,81.15,83.05,68.95,46.85,42.25,36.1,30.4,24.2,33.8,37.45,12.8,6.35,10.6,6.25,2.8,3.4,13817.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1369.4,1367.7,1337.8,1496,1650.7,1413.5,1292.1,1347.3,1567,1705.55,1980.65,13817.5
16000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1417.55,1386.3,1369.6,1542.6,1695.05,1429.65,1353.65,1400.4,1620.85,1738.7,2012.8,13817.5
16050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1464.65,1434.9,1594.6,1750.35,1512.85,1391.3,1446.9,1666.9,1805.5,2080.65,13817.5
16100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1644.05,1800.2,1562.6,1441.05,1496.8,1716.85,1855.5,2130.65,13817.5
16150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1546.65,1766.85,1905.45,2180.6,13817.5

In [9]:
# for i,j in k.iterrows():
#     print(j)
#     break

In [10]:
# settle=df['Settle Price']
# list(strike)

In [11]:
# for dt in date:
#     for strikep in df.index:
#         for setle in settle:
#             print(setle)

In [67]:
# df[['Settle Price','Date']]

In [66]:
# df.loc[[13350,14000],['Date','Settle Price']]

In [65]:
# for i in df.index.unique():
#     print(df.loc[[i,'Date']])
# print("hi")

In [9]:
# z=df.loc[[(13350,'01-Jan-2021')],'Settle Price']
# type(z)
# z[0]

In [13]:
k.head(5)
(13350, '01-Jan-2021') in df.index

True

True

In [ ]:
|