In [3]:
import pandas as pd;
df=pd.read_csv("OPTIDX_NIFTY_PE_01-Jan-2021_TO_28-Jan-2021.csv",index_col=['Strike Price','Date'])
df=df.drop(['Symbol','Open','High', 'Low', 'Close', 'LTP','No. of contracts','Turnover in Lacs', 'Premium Turnover in Lacs', 'Open Int',
       'Change in OI'],axis=1)
date=df.index.get_level_values(0).unique().tolist()
list(date)
strike=df.index.unique()
list(strike)
settle=df['Settle Price']
list(strike)
#data not working
k=pd.DataFrame(data=df['Settle Price'],columns=list(date),index=list(strike))
k
# for dt in date:
#     for strikep in df.index:
        
#          if dt in df.at[strikep,'Date']:
#              for setle in settle:
#                 k.at[strikep,dt]=df.at[strikep,'Settle Price']

,13350,13400,13450,13500,13550,13600,13650,13700,13750,13800,...,15700,15750,15800,15850,15900,15950,16000,16050,16100,16150
"(13350, 01-Jan-2021)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(13400, 01-Jan-2021)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(13450, 01-Jan-2021)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(13500, 01-Jan-2021)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(13550, 01-Jan-2021)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"(13100, 28-Jan-2021)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(13150, 28-Jan-2021)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(13200, 28-Jan-2021)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(13250, 28-Jan-2021)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(13300, 28-Jan-2021)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# for i,j in k.iterrows():
#     print(j)
#     break

In [10]:
# settle=df['Settle Price']
# list(strike)

In [11]:
# for dt in date:
#     for strikep in df.index:
#         for setle in settle:
#             print(setle)

In [67]:
# df[['Settle Price','Date']]

In [66]:
# df.loc[[13350,14000],['Date','Settle Price']]

In [65]:
# for i in df.index.unique():
#     print(df.loc[[i,'Date']])
# print("hi")

In [100]:
z=df.loc[[(13350,'01-Jan-2021')],'Settle Price']
type(z)
z[0]

75.9

In [4]:
strikep=df.index.get_level_values(0).unique().tolist()
date=df.index.get_level_values(1).unique().tolist()

In [5]:
k=pd.DataFrame(data=df['Settle Price'],columns=list(date),index=list(strikep))
k

,01-Jan-2021,04-Jan-2021,05-Jan-2021,06-Jan-2021,07-Jan-2021,08-Jan-2021,11-Jan-2021,12-Jan-2021,13-Jan-2021,14-Jan-2021,15-Jan-2021,18-Jan-2021,19-Jan-2021,20-Jan-2021,21-Jan-2021,22-Jan-2021,25-Jan-2021,27-Jan-2021,28-Jan-2021
13350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
for i in strikep:
    for j in date:
        if (i,j) in df.index:
            l=df.loc[[(i,j)],'Settle Price']
            k.at[i,j]=l[0]

In [153]:
k.head(5)

,01-Jan-2021,04-Jan-2021,05-Jan-2021,06-Jan-2021,07-Jan-2021,08-Jan-2021,11-Jan-2021,12-Jan-2021,13-Jan-2021,14-Jan-2021,15-Jan-2021,18-Jan-2021,19-Jan-2021,20-Jan-2021,21-Jan-2021,22-Jan-2021,25-Jan-2021,27-Jan-2021,28-Jan-2021
13350,75.9,56.3,54.05,55.4,44.35,31.6,29.7,25.4,21.05,17.15,22.5,23.2,8.3,4.1,6.95,3.45,1.6,1.75,13817.5
13400,83.7,63,59.9,61.3,49.6,34.95,32.35,27.65,22.8,18.35,24.6,26,8.9,4.4,7.5,3.7,1.75,1.8,13817.5
13450,93.05,69.55,66.05,67.4,55.3,38.6,35.4,30.15,25.75,20.2,27.3,29,10.45,5.15,8.1,4.3,2.05,2.2,13817.5
13500,102.6,76.9,72.75,74.9,61.35,42.6,38.6,32.9,27.85,21.8,30.2,33.45,11.45,5.85,9.45,5.25,2.5,2.75,13817.5
13550,117.15,85.65,81.15,83.05,68.95,46.85,42.25,36.1,30.4,24.2,33.8,37.45,12.8,6.35,10.6,6.25,2.8,3.4,13817.5

In [143]:
(13350, '01-Jan-2021') in df.index

True