In [247]:
import pandas as pd;
calldf=pd.read_csv("OPTIDX_NIFTY_CE_01-Jan-2021_TO_28-Jan-2021.csv",index_col=['Strike Price','Date'])
calldf=calldf.drop(['Symbol','Open','High', 'Low', 'Close', 'LTP','No. of contracts','Turnover in Lacs', 'Premium Turnover in Lacs', 'Open Int',
       'Change in OI'],axis=1)
date=calldf.index.get_level_values(0).unique().tolist()
list(date)
strike=calldf.index.unique()
list(strike)
settle=calldf['Settle Price']
list(strike)
#data not working
# k=pd.DataFrame(data=calldf['Settle Price'],columns=list(date),index=list(strike))
# k
# for dt in date:
#     for strikep in df.index:
        
#          if dt in df.at[strikep,'Date']:
#              for setle in settle:
#                 k.at[strikep,dt]=df.at[strikep,'Settle Price']

strikep=calldf.index.get_level_values(0).unique().tolist()
date=calldf.index.get_level_values(1).unique().tolist()
call=pd.DataFrame(data=calldf['Settle Price'],columns=list(date),index=list(strikep))
for i in strikep:
    for j in date:
        if (i,j) in calldf.index:
            l=calldf.loc[[(i,j)],'Settle Price']
            call.at[i,j]=l[0]

In [248]:
import pandas as pd;
df=pd.read_csv("OPTIDX_NIFTY_PE_01-Jan-2021_TO_28-Jan-2021.csv",index_col=['Strike Price','Date'])
df=df.drop(['Symbol','Open','High', 'Low', 'Close', 'LTP','No. of contracts','Turnover in Lacs', 'Premium Turnover in Lacs', 'Open Int',
       'Change in OI'],axis=1)
date=df.index.get_level_values(0).unique().tolist()
list(date)
strike=df.index.unique()
list(strike)
settle=df['Settle Price']
list(strike)
#data not working
k=pd.DataFrame(data=df['Settle Price'],columns=list(date),index=list(strike))
k
# for dt in date:
#     for strikep in df.index:
        
#          if dt in df.at[strikep,'Date']:
#              for setle in settle:
#                 k.at[strikep,dt]=df.at[strikep,'Settle Price']

strikep=df.index.get_level_values(0).unique().tolist()
date=df.index.get_level_values(1).unique().tolist()
k=pd.DataFrame(data=df['Settle Price'],columns=list(date),index=list(strikep))
for i in strikep:
    for j in date:
        if (i,j) in df.index:
            l=df.loc[[(i,j)],'Settle Price']
            k.at[i,j]=l[0]

In [249]:
ATM=int(input("ENTER SPOT PRICE"))
CALLOTM=ATM+500
PUTOTM=ATM-500

In [40]:
for i in strikep:
    if ATM==i:
        final=k.loc[[ATM,CALLOTM,PUTOTM]]
final.to_excel("out.xls")

In [10]:
final=pd.concat([call,k],axis=1,keys=['call', 'put'])

In [11]:
final.to_excel("out.xls")

In [83]:
hfinal=pd.concat([call,k],keys=['call', 'put'])
hfinal

           01-Jan-2021 04-Jan-2021 05-Jan-2021 06-Jan-2021 07-Jan-2021  \
call 13350         825      864.45       949.8      898.15       884.3
     13400      733.65       821.3         870       837.9      838.65
     13450      702.15      819.35      867.05       816.4      802.75
     13500      654.25       738.8       786.1      761.65      750.65
     13550       678.3      695.95         750      738.05      723.55
...                ...         ...         ...         ...         ...
put  15950         NaN         NaN         NaN         NaN         NaN
     16000         NaN         NaN         NaN         NaN         NaN
     16050         NaN         NaN         NaN         NaN         NaN
     16100         NaN         NaN         NaN         NaN         NaN
     16150         NaN         NaN         NaN         NaN         NaN

           08-Jan-2021 11-Jan-2021 12-Jan-2021 13-Jan-2021 14-Jan-2021  \
call 13350      1064.1     1178.55      1249.9     1247.75     1274.35
     13400      1004.6        1115      1214.4     1223.75     1249.55
     13450      945.65     1085.55     1155.05     1152.35        1178
     13500       906.7     1022.45      1127.8      1133.4      1148.4
     13550      889.95      971.35        1086      1058.5     1083.05
...                ...         ...         ...         ...         ...
put  15950         NaN         NaN      1369.4      1367.7      1337.8
     16000         NaN         NaN     1417.55      1386.3      1369.6
     16050         NaN         NaN         NaN     1464.65      1434.9
     16100         NaN         NaN         NaN         NaN         NaN
     16150         NaN         NaN         NaN         NaN         NaN

           15-Jan-2021 18-Jan-2021 19-Jan-2021 20-Jan-2021 21-Jan-2021  \
call 13350     1114.25       956.7      1187.4      1307.8      1285.9
     13400     1083.05      914.95      1185.2        1251     1178.35
     13450      1047.8       862.1      1089.2     1208.55      1165.6
     13500      988.55       827.2     1082.35     1154.75      1119.7
     13550      926.65      770.05      991.95     1109.75      1103.5
...                ...         ...         ...         ...         ...
put  15950        1496      1650.7      1413.5      1292.1      1347.3
     16000      1542.6     1695.05     1429.65     1353.65      1400.4
     16050      1594.6     1750.35     1512.85      1391.3      1446.9
     16100     1644.05      1800.2      1562.6     1441.05      1496.8
     16150         NaN         NaN         NaN         NaN     1546.65

           22-Jan-2021 25-Jan-2021 27-Jan-2021 28-Jan-2021
call 13350     1055.95      895.05       644.2     13817.5
     13400       984.8      857.65      586.65     13817.5
     13450       917.7       779.4      534.25     13817.5
     13500       888.2      749.05       485.1     13817.5
     13550      835.75      694.75      440.35     13817.5
...                ...         ...         ...         ...
put  15950        1567     1705.55     1980.65     13817.5
     16000     1620.85      1738.7      2012.8     13817.5
     16050      1666.9      1805.5     2080.65     13817.5
     16100     1716.85      1855.5     2130.65     13817.5
     16150     1766.85     1905.45      2180.6     13817.5

[242 rows x 19 columns]

In [46]:

hfinal.to_excel("out1.xls")

In [59]:
hfinal=pd.concat([call,k],keys=['call', 'put'])
final=hfinal.loc[[(['call','put']),([ATM,CALLOTM,PUTOTM])]]
hfinal.to_excel("out1.xls")

TypeError: '['call', 'put']' is an invalid key

In [111]:
profitfinal=hfinal.loc[(['call','put'],[ATM,CALLOTM,PUTOTM]),:]
profitfinal.to_excel("out.xls")

In [164]:
profitfinal

           01-Jan-2021 04-Jan-2021 05-Jan-2021 06-Jan-2021 07-Jan-2021  \
call 13550       678.3      695.95         750      738.05      723.55
     14050       280.3       326.7       362.4      349.05       328.7
     13050      1069.6     1153.25      1197.4      1182.4      1147.8
put  13550      117.15       85.65       81.15       83.05       68.95
     14050       277.6       216.5         199       208.7      189.55
     13050          41       30.25       29.75       29.85       22.65

           08-Jan-2021 11-Jan-2021 12-Jan-2021 13-Jan-2021 14-Jan-2021  \
call 13550      889.95      971.35        1086      1058.5     1083.05
     14050       442.8         540       632.4       617.3       644.6
     13050      1341.9     1466.35     1541.25     1540.35     1568.65
put  13550       46.85       42.25        36.1        30.4        24.2
     14050      127.45       107.1       85.25       75.75       61.15
     13050        16.6        16.7        14.6       12.25       11.35

           15-Jan-2021 18-Jan-2021 19-Jan-2021 20-Jan-2021 21-Jan-2021  \
call 13550      926.65      770.05      991.95     1109.75      1103.5
     14050       507.1      377.15      555.45      614.15      594.85
     13050     1406.15     1248.55     1485.15      1606.9      1541.4
put  13550        33.8       37.45        12.8        6.35        10.6
     14050        93.2      118.15       41.25       20.35       31.15
     13050        12.4       11.95        5.35        2.55        4.45

           22-Jan-2021 25-Jan-2021 27-Jan-2021 28-Jan-2021
call 13550      835.75      694.75      440.35     13817.5
     14050      373.65       245.2       36.55     13817.5
     13050      1359.5     1182.85         919     13817.5
put  13550        6.25         2.8         3.4     13817.5
     14050       43.85       36.35      103.75     13817.5
     13050         2.4         1.4        1.35     13817.5

In [112]:
hfinal.loc[(['call','put'],[ATM,CALLOTM,PUTOTM]),:]

           01-Jan-2021 04-Jan-2021 05-Jan-2021 06-Jan-2021 07-Jan-2021  \
call 13550       678.3      695.95         750      738.05      723.55
     14050       280.3       326.7       362.4      349.05       328.7
     13050      1069.6     1153.25      1197.4      1182.4      1147.8
put  13550      117.15       85.65       81.15       83.05       68.95
     14050       277.6       216.5         199       208.7      189.55
     13050          41       30.25       29.75       29.85       22.65

           08-Jan-2021 11-Jan-2021 12-Jan-2021 13-Jan-2021 14-Jan-2021  \
call 13550      889.95      971.35        1086      1058.5     1083.05
     14050       442.8         540       632.4       617.3       644.6
     13050      1341.9     1466.35     1541.25     1540.35     1568.65
put  13550       46.85       42.25        36.1        30.4        24.2
     14050      127.45       107.1       85.25       75.75       61.15
     13050        16.6        16.7        14.6       12.25       11.35

           15-Jan-2021 18-Jan-2021 19-Jan-2021 20-Jan-2021 21-Jan-2021  \
call 13550      926.65      770.05      991.95     1109.75      1103.5
     14050       507.1      377.15      555.45      614.15      594.85
     13050     1406.15     1248.55     1485.15      1606.9      1541.4
put  13550        33.8       37.45        12.8        6.35        10.6
     14050        93.2      118.15       41.25       20.35       31.15
     13050        12.4       11.95        5.35        2.55        4.45

           22-Jan-2021 25-Jan-2021 27-Jan-2021 28-Jan-2021
call 13550      835.75      694.75      440.35     13817.5
     14050      373.65       245.2       36.55     13817.5
     13050      1359.5     1182.85         919     13817.5
put  13550        6.25         2.8         3.4     13817.5
     14050       43.85       36.35      103.75     13817.5
     13050         2.4         1.4        1.35     13817.5

In [141]:
#callotm_pf
prof_calotm=[]
prof_calatm=[]
prof=[]
atmprice_day1=profitfinal.loc[('call',ATM),profitfinal.columns[0]]
otmprice_day1=profitfinal.loc[('call',CALLOTM),profitfinal.columns[0]]
for index,i in enumerate(profitfinal.columns):
    atmprice_day_FINAL=profitfinal.loc[('call',ATM),i]
    otmprice_day_FINAL=profitfinal.loc[('call',CALLOTM),i]
    prof_calotm.append(otmprice_day_FINAL-otmprice_day1)
    prof_calatm.append(atmprice_day1-atmprice_day_FINAL)
    prof.append(prof_calotm[index]+prof_calatm[index])

0.0

In [142]:
#putotm_pf
prof_putotm=[]
prof_putatm=[]
profP=[]
atmprice_day1P=profitfinal.loc[('put',ATM),profitfinal.columns[0]]
otmprice_day1P=profitfinal.loc[('put',PUTOTM),profitfinal.columns[0]]
for index,i in enumerate(profitfinal.columns):

    atmprice_day_FINALP=profitfinal.loc[('put',ATM),i]
    otmprice_day_FINALP=profitfinal.loc[('put',CALLOTM),i]

    prof_putotm.append(otmprice_day_FINALP-otmprice_day1P)
    prof_putatm.append(atmprice_day1P-atmprice_day_FINALP)
    profP.append(prof_putotm[index]+prof_putatm[index])

In [250]:
zz=pd.DataFrame(list(zip(prof_calotm,prof_calatm,prof,prof_putotm,prof_putatm,profP)),columns=['CALL OTM PROFITS','CALL ATM PROFITS','TOTAL CALL PROFITS','PUT OTM PROFITS','PUT ATM PROFITS','TOTAL PUT PROFITS'],index=profitfinal.columns)
ff=zz.T
ff

,01-Jan-2021,04-Jan-2021,05-Jan-2021,06-Jan-2021,07-Jan-2021,08-Jan-2021,11-Jan-2021,12-Jan-2021,13-Jan-2021,14-Jan-2021,15-Jan-2021,18-Jan-2021,19-Jan-2021,20-Jan-2021,21-Jan-2021,22-Jan-2021,25-Jan-2021,27-Jan-2021,28-Jan-2021
CALL OTM PROFITS,0.0,46.40,82.1,68.75,48.40,162.50,259.70,352.10,337.00,364.30,226.80,96.85,275.15,333.85,314.55,93.35,-35.10,-243.75,13537.25
CALL ATM PROFITS,0.0,-17.65,-71.7,-59.75,-45.25,-211.65,-293.05,-407.70,-380.20,-404.75,-248.35,-91.75,-313.65,-431.45,-425.20,-157.45,-16.45,237.95,-13139.25
TOTAL CALL PROFITS,0.0,28.75,10.4,9.00,3.15,-49.15,-33.35,-55.60,-43.20,-40.45,-21.55,5.10,-38.50,-97.60,-110.65,-64.10,-51.55,-5.80,398.00
PUT OTM PROFITS,236.6,175.50,158.0,167.70,148.55,86.45,66.10,44.25,34.75,20.15,52.20,77.15,0.25,-20.65,-9.85,2.85,-4.65,62.75,13776.55
PUT ATM PROFITS,0.0,31.50,36.0,34.10,48.20,70.30,74.90,81.05,86.75,92.95,83.35,79.70,104.35,110.80,106.55,110.90,114.35,113.75,-13700.40
TOTAL PUT PROFITS,236.6,207.00,194.0,201.80,196.75,156.75,141.00,125.30,121.50,113.10,135.55,156.85,104.60,90.15,96.70,113.75,109.70,176.50,76.15

In [245]:
finaltoH=pd.concat([profitfinal,ff],keys=['Data','Profits'])
finaltoH.to_excel("out.xls")

In [123]:
profitfinal.loc[('call',ATM),profitfinal.columns[0]]

678.3

In [242]:
ff

,,01-Jan-2021,04-Jan-2021,05-Jan-2021,06-Jan-2021,07-Jan-2021,08-Jan-2021,11-Jan-2021,12-Jan-2021,13-Jan-2021,14-Jan-2021,15-Jan-2021,18-Jan-2021,19-Jan-2021,20-Jan-2021,21-Jan-2021,22-Jan-2021,25-Jan-2021,27-Jan-2021,28-Jan-2021
,new_col,,,,,,,,,,,,,,,,,,,
prof,prof,0.0,28.75,10.4,9.00,3.15,-49.15,-33.35,-55.60,-43.20,-40.45,-21.55,5.10,-38.50,-97.60,-110.65,-64.10,-51.55,-5.80,398.00
profP,profP,236.6,207.00,194.0,201.80,196.75,156.75,141.00,125.30,121.50,113.10,135.55,156.85,104.60,90.15,96.70,113.75,109.70,176.50,76.15
prof_calatm,prof_calatm,0.0,-17.65,-71.7,-59.75,-45.25,-211.65,-293.05,-407.70,-380.20,-404.75,-248.35,-91.75,-313.65,-431.45,-425.20,-157.45,-16.45,237.95,-13139.25
prof_calotm,prof_calotm,0.0,46.40,82.1,68.75,48.40,162.50,259.70,352.10,337.00,364.30,226.80,96.85,275.15,333.85,314.55,93.35,-35.10,-243.75,13537.25
prof_putatm,prof_putatm,0.0,31.50,36.0,34.10,48.20,70.30,74.90,81.05,86.75,92.95,83.35,79.70,104.35,110.80,106.55,110.90,114.35,113.75,-13700.40
prof_putotm,prof_putotm,236.6,175.50,158.0,167.70,148.55,86.45,66.10,44.25,34.75,20.15,52.20,77.15,0.25,-20.65,-9.85,2.85,-4.65,62.75,13776.55

In [80]:
hfinal.loc[(,16000)]

SyntaxError: invalid syntax (<ipython-input-80-725f56b3a39e>, line 1)

In [87]:
hfinal.index.names(['TYPE','STRIKE'])

TypeError: 'FrozenList' object is not callable

In [88]:
hfinal.rename_axis(['TYPE','STRIKE'])

            01-Jan-2021 04-Jan-2021 05-Jan-2021 06-Jan-2021 07-Jan-2021  \
TYPE STRIKE
call 13350          825      864.45       949.8      898.15       884.3
     13400       733.65       821.3         870       837.9      838.65
     13450       702.15      819.35      867.05       816.4      802.75
     13500       654.25       738.8       786.1      761.65      750.65
     13550        678.3      695.95         750      738.05      723.55
...                 ...         ...         ...         ...         ...
put  15950          NaN         NaN         NaN         NaN         NaN
     16000          NaN         NaN         NaN         NaN         NaN
     16050          NaN         NaN         NaN         NaN         NaN
     16100          NaN         NaN         NaN         NaN         NaN
     16150          NaN         NaN         NaN         NaN         NaN

            08-Jan-2021 11-Jan-2021 12-Jan-2021 13-Jan-2021 14-Jan-2021  \
TYPE STRIKE
call 13350       1064.1     1178.55      1249.9     1247.75     1274.35
     13400       1004.6        1115      1214.4     1223.75     1249.55
     13450       945.65     1085.55     1155.05     1152.35        1178
     13500        906.7     1022.45      1127.8      1133.4      1148.4
     13550       889.95      971.35        1086      1058.5     1083.05
...                 ...         ...         ...         ...         ...
put  15950          NaN         NaN      1369.4      1367.7      1337.8
     16000          NaN         NaN     1417.55      1386.3      1369.6
     16050          NaN         NaN         NaN     1464.65      1434.9
     16100          NaN         NaN         NaN         NaN         NaN
     16150          NaN         NaN         NaN         NaN         NaN

            15-Jan-2021 18-Jan-2021 19-Jan-2021 20-Jan-2021 21-Jan-2021  \
TYPE STRIKE
call 13350      1114.25       956.7      1187.4      1307.8      1285.9
     13400      1083.05      914.95      1185.2        1251     1178.35
     13450       1047.8       862.1      1089.2     1208.55      1165.6
     13500       988.55       827.2     1082.35     1154.75      1119.7
     13550       926.65      770.05      991.95     1109.75      1103.5
...                 ...         ...         ...         ...         ...
put  15950         1496      1650.7      1413.5      1292.1      1347.3
     16000       1542.6     1695.05     1429.65     1353.65      1400.4
     16050       1594.6     1750.35     1512.85      1391.3      1446.9
     16100      1644.05      1800.2      1562.6     1441.05      1496.8
     16150          NaN         NaN         NaN         NaN     1546.65

            22-Jan-2021 25-Jan-2021 27-Jan-2021 28-Jan-2021
TYPE STRIKE
call 13350      1055.95      895.05       644.2     13817.5
     13400        984.8      857.65      586.65     13817.5
     13450        917.7       779.4      534.25     13817.5
     13500        888.2      749.05       485.1     13817.5
     13550       835.75      694.75      440.35     13817.5
...                 ...         ...         ...         ...
put  15950         1567     1705.55     1980.65     13817.5
     16000      1620.85      1738.7      2012.8     13817.5
     16050       1666.9      1805.5     2080.65     13817.5
     16100      1716.85      1855.5     2130.65     13817.5
     16150      1766.85     1905.45      2180.6     13817.5

[242 rows x 19 columns]

In [210]:
ff['new_col'] = range(1, len(jj) + 1)
ff['new_col']=ff.index
ff=ff.set_index('new_col',append=True).sort_index()

In [ ]:
checks after that

In [90]:
hfinal.set_index(['TYPE','STRIKE']).sort_index()

KeyError: "None of ['TYPE', 'STRIKE'] are in the columns"

In [107]:
hfinal.loc[(['call','put'],[16000,17000]),:]

,,01-Jan-2021,04-Jan-2021,05-Jan-2021,06-Jan-2021,07-Jan-2021,08-Jan-2021,11-Jan-2021,12-Jan-2021,13-Jan-2021,14-Jan-2021,15-Jan-2021,18-Jan-2021,19-Jan-2021,20-Jan-2021,21-Jan-2021,22-Jan-2021,25-Jan-2021,27-Jan-2021,28-Jan-2021
call,16000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.75,4.8,3.85,4.7,4.6,2.5,1.5,1.6,3.1,2.15,1.4,13817.5
put,16000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1417.55,1386.3,1369.6,1542.6,1695.05,1429.65,1353.65,1400.4,1620.85,1738.7,2012.8,13817.5